<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SSG 선수단</title>
    <link rel="stylesheet" href="/ssg.css"> <!-- 분리된 CSS -->
</head>
<body>

<header>
    <h2>SSG 랜더스 선수단</h2>
    <p>2025년 현역 선수</p>
</header>



<main>
    <h1>📋 선수 목록</h1>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>포지션</th>
            <th>입단년도</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${SSG}">
            <td th:text="${i.number}">등번호</td>
            <td th:text="${i.player}">선수</td>
            <td th:text="${i.position}">포지션</td>
            <td th:text="${i.years}">입단년도</td>
        </tr>
        </tbody>
    </table>

    <div class="center">
        <a href="/" class="btn">🏠 메인으로 돌아가기</a>
    </div>
</main>

<footer>
    <p>ⓒ 2025 Spring Study Team</p>
</footer>

</body>
</html>
