<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구단별 날씨 선택</title>
    <link rel="stylesheet" href="/weatherView.css">
    <link rel="icon" type="image/png" href="/dugout.png" />
</head>
<body>

<section class="weather-select">
    <h1>⚾ 구단별 날씨 보기</h1>
    <ul class="team-list">
        <li><a href="/weather/lg">LG 트윈스</a></li>
        <li><a href="/weather/doosan">두산 베어스</a></li>
        <li><a href="/weather/ssg">SSG 랜더스</a></li>
        <li><a href="/weather/kia">KIA 타이거즈</a></li>
        <li><a href="/weather/kt">KT 위즈</a></li>
        <li><a href="/weather/nc">NC 다이노스</a></li>
        <li><a href="/weather/kiwoom">키움 히어로즈</a></li>
        <li><a href="/weather/samsung">삼성 라이온즈</a></li>
        <li><a href="/weather/lotte">롯데 자이언츠</a></li>
        <li><a href="/weather/hanwha">한화 이글스</a></li>
    </ul>
</section>

</body>
</html>
