<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${team} + ' 구장 날씨 예보'">구단 날씨</title>
    <link rel="stylesheet" href="/weatherInfo/weatherView.css">
    <link rel="icon" type="image/png" href="/dugout.png" />
</head>
<body>

<section class="weather-detail">
    <h1 th:text="${team} + ' 구장 6일간 날씨 예보'">LG 구장 6일간 날씨 예보</h1>

    <table class="weather-table">
        <thead>
        <tr>
            <th>항목</th>
            <th th:each="w : ${weatherList}" th:text="${w.date}">8월 5일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>요일</td>
            <td th:each="w : ${weatherList}" th:text="${w.day + '일차'}">1일차</td>
        </tr>
        <tr>
            <td>최고기온</td>
            <td th:each="w : ${weatherList}" th:text="${w.maxTemp + '℃'}">33℃</td>
        </tr>
        <tr>
            <td>최저기온</td>
            <td th:each="w : ${weatherList}" th:text="${w.minTemp + '℃'}">25℃</td>
        </tr>
        <tr>
            <td>오전 날씨</td>
            <td th:each="w : ${weatherList}" th:text="${w.weatherAm}">맑음</td>
        </tr>
        <tr>
            <td>오전 강수확률</td>
            <td th:each="w : ${weatherList}" th:text="${w.rainProbAm + '%'}">10%</td>
        </tr>
        <tr>
            <td>오후 날씨</td>
            <td th:each="w : ${weatherList}" th:text="${w.weatherPm}">흐림</td>
        </tr>
        <tr>
            <td>오후 강수확률</td>
            <td th:each="w : ${weatherList}" th:text="${w.rainProbPm + '%'}">20%</td>
        </tr>
        </tbody>
    </table>
</section>
<div class="back-btn">
    <a href="/weather" class="main-btn"> 다른 구장 보러가기</a>
</div>



</body>
</html>
