<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정 | Spring Study</title>
    <link rel="stylesheet" href="/springStudy/list.css">
    <link rel="stylesheet" href="/springStudy/write.css">
</head>
<body>

<nav class="navbar">
    <a href="/static" class="logo">🛒 Spring Shop</a>
    <div class="nav-links">
        <a href="/list">상품 목록</a>
    </div>
</nav>

<div class="form-container">
    <h2>상품 삭제</h2>
    <form action="/delete" method="POST">
        <input type="hidden" name="id" th:value="${items.id}">

        <div class="form-group">
            <p th:text="${items.title}" style="margin-top: 5px; font-weight: bold;"></p>
        </div>
        <button type="submit" class="submit-btn">삭제하기</button>
    </form>

</div>

<footer>
    <a href="/static" class="btn">메인으로 돌아가기</a>
    <p>ⓒ 2025 Spring Study Team</p>
</footer>
</body>
</html>
