<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>골든 글러브 예측 | DUGOUT</title>
    <link rel="stylesheet" href="/recordroom/goldenglobe.css" />
    <link rel="icon" href="/dugout.png" />
</head>
<body class="golden-body">


<div id="particles-js"></div>



<div class="trophy-overlay"></div>


<section class="golden-hero">
    <h2> 2025 KBO 골든 글러브 예측</h2>
    <p>포지션별 최고의 선수를 예측해보세요.<br>팬들의 선택, 데이터 기반 분석으로 뽑은 영광의 후보들!</p>
</section>


<div class="fixed-button-wrapper">
    <a href="/dugout" class="neon-home-btn">더그아웃으로 가기</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/recordroom/goldenglobe.js"></script>
</body>
</html>
